
th, td, label{
    font-family: sans-serif;
    font-size: 1.2em;
}
td{
    padding-left: 1em;
    padding-right: 1em;
}
th{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: #9d1d36;
    color: white;
}
th, h2{
    text-transform: uppercase;
}
h2 {
    font-family: sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #9d1d36;
}
a {
    background-color: #9d1d36;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

input[type=text], textarea, input[type=time],input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    background-color: #9d1d36;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[name], ::placeholder {
    color: #9d1d36;
    opacity: 0.7;
    font-style: italic;
}


#boxComentarios {
    width: 90%;
    margin: 30px auto;
    border: 2px solid #9d1d36;
    border-radius: 5px;
    background-color: #f5f2e5;
    padding: 20px;

}

#boxComentarios textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}
#boxComentarios button {
    background-color: #9d1d36;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}

#boxComentarios button:hover {
    background-color: #6e1023;
}

