/* encabezados */
body {
    background-color: #f2f2f2;
    color: #333333;
}
/* tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
  }
  
  table th, table td {
    border: 1px solid #e9ecef;
    padding: 10px;
    text-align: left;
    color: #333;
  }
  
  table th {
    background-color: #007bff;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .link {
    text-decoration: none;
  }