<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h2>Formulario de Información</h2>
        <form action="">
            <label for="">Nombre</label>
            <input type="text" name="nombre"><br><br>
            <label for="">Edad</label>
            <input type="text" name="edad"><br><br>
            <input type="submit">
            <button type="submit">Enviar</button>
        </form>
    </main>
</body>
</html>