<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <p>Investigar hacerca de los comado de git</p>
        <p>Ejemplificar el trabado del uso de los comandos en
            al trabajar con ramas
        </p>
        <p>Realizar sobre este html el diseño CSS para la presentacion
            de lo investigado
        </p>
        git init
        git remote //Verifa en que te encuentras actualmente
        git branch //Ver las ramas actuales disponibles
        git checkout (rama) //Cambiar de rama actual a otra
        git add * //Añade todo los archivos modificados a la precarga del push
        git commit -m "mensaje del commit" //Coloca un mensaje de carga antes del push
        git push origin (rama) //Subida de los precargados a la rama seleccionada
    </main>
</body>
</html>