<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <p>Investigar hacerca de los comado de git</p>
        <p>Ejemplificar el trabado del uso de los comandos en
            al trabajar con ramas
        </p>
        <p>Realizar sobre este html el diseño CSS para la presentacion
            de lo investigado
        </p>
    </main>
</body>
</html>